@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-dark text-white antialiased overflow-x-hidden;
  background-image: theme('backgroundImage.hero-glow');
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0c0f19;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#14f1ff,#ff007a);
  border-radius: 6px;
}

.neon-text {
  text-shadow: 0 0 6px theme('colors.neon'), 0 0 18px theme('colors.neon');
}

.glass {
  @apply bg-white/5 backdrop-blur-sm border border-white/10 shadow-neon;
}
